@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #2A5C70;
    --secondary: #5FA8AF;
    --text-primary: #D4E9E7;
    --text-secondary: #A9C1C0;
    --card-bg: rgba(31, 72, 88, 0.7);
    --button-bg: #D4E9E7;
    --button-hover-bg: #A9C1C0;
    --button-text: #2A5C70;
    --primary-shadow: rgba(42, 92, 112, 0.5);
    --secondary-shadow: rgba(95, 168, 175, 0.5);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
      /* --foreground: #ededed; */
  }
}

body {
  /* color: var(--foreground); */
    /* background: var(--background); */
    /* font-family: Arial, Helvetica, sans-serif; */
}