@keyframes bars {
    0% {
        transform: scaleY(.4)
    }
    50% {
        transform: scaleY(1)
    }
    100% {
        transform: scaleY(.4)
    }
}

.bar, .barA, .barB, .barC {
    transform-origin: bottom;
    transform-box: fill-box;
    animation: bars 1s infinite;
    will-change: transform;
}

.barA {
    animation-delay: .20s
}

.barB {
    animation-delay: .30s
}

.barC {
    animation-delay: .45s
}


.spinRing {
    transform-origin: center;
    animation: spin 1.2s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0)
    }
    to {
        transform: rotate(360deg)
    }
}

.dashMove {
    stroke-dasharray: 8;
    animation: dash 1s linear infinite;
}

@keyframes dash {
    to {
        stroke-dashoffset: -16
    }
}


.coin1 {
    animation: bounce 1.2s infinite
}

.coin2 {
    animation: bounce 1.2s infinite .15s
}

.coin3 {
    animation: bounce 1.2s infinite .3s
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0)
    }
    50% {
        transform: translateY(-6px)
    }
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 999px;
    background: currentColor;
    animation: fade 1.2s infinite;
}

.dot:nth-child(odd) {
    animation-delay: .2s
}

@keyframes fade {
    0%, 100% {
        opacity: .3
    }
    50% {
        opacity: 1
    }
}
